* {
padding:0;
margin:0;
box-sizing:border-box
}
body{
	font-size:16px;
}
.contact-sec {
	
}
.contact-container {
	width:80%;
	margin:auto;
}
.contact-title {
	margin-top:3rem;
	text-align:center;
}
.contact-title h1 {
	font-size:2rem;
	font-weight:600;
}
.center-line {
	height:0.2rem;
	width:4rem;
	background-color:#009282;
	text-align:center;
	display: inline-block;
	margin:1rem;
}
.contact-title p {
	font-size:1rem;
	font-weight:400;
	margin-bottom:2rem;
	color:#444;
}
.contact-row{
	display:flex;
}
.contact-col-left{
	width:35%;
	background-color:#009282;
	border-radius:0.8rem 0 0 0.8rem;
}
.contact-col-right{
	width:65%;
	border-radius:5px;
	padding:1rem;
	box-shadow: 5px 5px 12px #e5d1e3;
	border-radius:0px 0.8rem 0.8rem 0;

}
.contact-location i ,.contact-email i ,.contact-call i,.contact-timing i{
	padding-left:1.4rem;
	padding-top:0.2rem;
	font-size:2rem;
	color:#fff;
	float:left;
	borde-radius:5px;
}
.contact-col-left h4, .contact-col-left p {
	padding-left:4.1rem;
	font-size:0.9rem;
	font-weight:400;
	margin-bottom: 5px;
	color:#fff;
}
.contact-location, .contact-email, .contact-call, .contact-timing {
	border-radius:10px;
    margin:2rem 0.5rem;
    border:1px solid #c7d8e352;
	padding:0.7rem 0;
}
.contact-name-email {
	display:flex;
	gap:6%;
}
.conatct-name {
	width:50%;
}
.contact-mail {
	width:50%;
}
.form-name,.form-mail {
	width:100%;
	padding:0.2rem;
}
input.form-name,input.form-mail {
	font-size:0.8rem;
	padding:12px 0;
}
.contact-subject {
	margin:1.2rem 0;
}
.form-subject ,.form-msg{
	width:100%;
	padding:16px 0;
}
.contact-submit {
	margin-top:1rem;
	text-align:center;
}
.contact-sbt-btn {
	font-size:16px;
	padding:12px 25px;
	background:#009282;
	color:#fff;
	border-radius:3.7rem;
	border:0;
}

@media (max-width:767px) {
	.contact-row{
	display:flex;
	flex-direction:column;
}
.contact-container {
	width:90%;
	margin:auto;
}
.contact-col-left{
	width:100%;
	
}
.contact-col-right{
	width:100%;
	padding: 10px 12px 0 0;
	margin-top:2rem;
	margin-left:12px;
}

}